<div class="details-container">
  <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"></canvas>
  <h2>{{ getFormattedMetricType() }}</h2>
  <div class="details-text">
    <p><strong>Average in the last week:</strong> {{ formatNumber(averageLastWeek, metricType) }} {{ getUnit(metricType)
      }}</p>
    <p><strong>Average in the last month:</strong> {{ formatNumber(averageLastMonth, metricType) }} {{
      getUnit(metricType) }}</p>
    <p><strong>Total in the last month:</strong> {{ formatNumber(totalLastMonth, metricType) }} {{ getUnit(metricType)
      }}</p>
    <p><strong>Best:</strong> {{ formatNumber(bestMetric, metricType) }} {{ getUnit(metricType) }}</p>
    <p><strong>Goal:</strong> {{ formatNumber(goal, metricType) }} {{ getUnit(metricType) }}</p>
  </div>
</div>