<ion-content class="ion-padding">
  <app-date-slider (dateChange)="onDateChange($event)"></app-date-slider>

  <div class="metric-card" *ngIf="currentMetric">
    <div class="metric-card-header">
      <ion-button (click)="prevMetric()" [disabled]="currentMetricIndex === 0">
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-button>
      <div class="metric-title">{{ currentMetric.title }}</div>
      <ion-button (click)="nextMetric()" [disabled]="currentMetricIndex === metrics.length - 1">
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </div>
    <div class="metric-card-content">
      <app-metric-chart [metric]="currentMetric" [selectedDate]="selectedDate">
        <!-- Pass selectedDate to metric-chart -->
      </app-metric-chart>
    </div>
  </div>

  <div class="metric-info-card" *ngIf="currentMetric">
    <div class="metric-info-title">Details</div>
    <app-metric-info [details]="currentMetric.details || 'No details available for this metric.'"
      [metricType]="currentMetric.type" [selectedDate]="selectedDate"> <!-- Pass selectedDate to metric-info -->
    </app-metric-info>
  </div>
</ion-content>