.date-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--ion-color-light);
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    .date-text-container {
        flex-grow: 1;
        text-align: center;
        position: relative;
    }

    .date-text {
        font-size: 18px;
        color: var(--ion-color-dark);
        font-weight: bold;
        position: relative;

        &.today {
            &.active {
                left: -25px; // Move the "Today" text 25px to the left from its centered position
            }
        }
    }

    ion-button::part(native) {
        outline: none;
        box-shadow: none;
    }

    ion-button:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    ion-icon {
        font-size: 20px;
        color: inherit;
    }
}