<ion-content class="ion-padding">
  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-logo">
        <img src="assets/img/logo.svg" alt="App Logo" width="150" height="150">
      </div>
      <ion-text color="primary" class="welcome-text">
        <h2>Welcome Back!</h2>
      </ion-text>
      <ion-text class="instruction-text">
        <p>Please login to continue</p>
      </ion-text>
      <ion-button expand="block" (click)="login()" color="primary" class="login-button">
        <ion-icon name="fitness-outline" slot="start"></ion-icon>
        Login with Fitbit
      </ion-button>

    </div>
  </div>
</ion-content>