<div class="menu-container">
  <div class="menu-list">
    <div class="menu-item" (click)="viewProfile()">
      <ion-icon name="person-outline"></ion-icon>
      <span>My Profile</span>
    </div>
    <div class="menu-item" (click)="openSettings()">
      <ion-icon name="settings-outline"></ion-icon>
      <span>Settings</span>
    </div>
    <div class="divider"></div>
    <div class="menu-item" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <span>Logout</span>
    </div>
  </div>
</div>