ion-button {
    --background: var(--button-background-color, #4caf50);
    /* Initial button background color */
    --color: var(--button-text-color, #ffffff);
    /* Initial button text color */
    --border-radius: 50%;
    /* Make buttons circular */

    &.button-clear {
        --background: transparent;
    }

    &.button-outline {
        --border-color: var(--button-background-color, #4caf50);
    }

    &:focus,
    &:active {
        --background: var(--button-focus-background-color, #45a049) !important;
        /* Ensure the background color stays the same on focus/active */
        --color: var(--button-focus-text-color, #ffffff) !important;
        /* Ensure the text color stays the same on focus/active */
        outline: none;
        /* Remove default outline */
        box-shadow: none;
        /* Remove default box shadow */
    }

    &:disabled {
        --background: var(--button-background-color-disabled, #e0e0e0);
        /* Disabled background color */
        --color: var(--button-text-color-disabled, #a0a0a0);
        /* Disabled text color */
    }
}

ion-icon {
    font-size: 20px;
    color: inherit;
}

.date-navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--ion-color-light);
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    .date-text-container {
        flex-grow: 1;
        text-align: center;
        position: relative;
    }

    .date-text {
        font-size: 18px;
        color: var(--ion-color-dark);
        font-weight: bold;
        position: relative;

        &.today {
            color: var(--ion-color-primary);
        }
    }

    ion-button::part(native) {
        outline: none;
        box-shadow: none;
    }

    ion-button:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    ion-icon {
        font-size: 20px;
        color: inherit;
    }
}