<div class="date-navigator" [class.highlight]="isCurrentPeriod()">
  <ion-button [disabled]="!canMoveBack()" (click)="previous()">
    <ion-icon name="arrow-back-circle"></ion-icon>
  </ion-button>
  <div class="date-text-container">
    <span class="date-text" [class.today]="isCurrentPeriod()">{{ displayPeriod }}</span>
  </div>
  <div *ngIf="!isCurrentPeriod()" class="home-icon">
    <ion-icon name="home" (click)="goToCurrentPeriod()" [title]="getTooltip()"></ion-icon>
  </div>
  <ion-button [disabled]="isCurrentPeriod()" (click)="next()">
    <ion-icon name="arrow-forward-circle"></ion-icon>
  </ion-button>
</div>